*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Content Colors */
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;
  
    /* Background Colors */
    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;
  
    /* Border Colors */
    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;
  
    /* Accent Colors */
    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;

    /* Font-Family */
    --inter: "Inter", sans-serif;
    --inter-tight: "Inter Tight", sans-serif; 
}

body{
    background-color: var(--background-primary);
    font-family: var(--inter);
    color: var(--content-secondary);

    & h1, h2, h3, strong{
        color: var(--content-primary);
    }

}

header {
    width: fit-content;
    background-color: #2E2C30;
    border-radius: 0 0 12px 0;

    & h1{
        padding: 1rem 1.25rem;

        display: flex;
        gap: 1rem;
        align-items: center;

        font-size: 1.25rem;
        color: var(--content-brand);
    }

    & img{
        width: 24px;
        height: 24px;
    }
}

main {
    padding: 5rem;
    max-width: 1280px;
    margin: auto;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    & input[type="date"]{
        all: unset;

        border: 1px solid var(--border-primary);
        border-radius: .5rem;

        font-size: 1rem;

        padding: .5rem;
    }
}

.title-wrap{
    & h1{
        font-size: 2rem;
    }
}


@media (max-width: 768px){
    main {
        padding: 1rem;
    }

    form{
        flex-wrap: wrap;
    }

    .title-wrap h1{
        font-size: 1.5rem;
    }
    
}

